<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chapter 6 Challenge</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="/js/bootstrap.min.js" rel="stylesheet">
    <link rel="stylesheet" href="/CH3/index.css">
  </head>
  <body>
      <div class="container" style="padding-top: 10%;">
          <div class="row">
              <div class="col-5">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Username</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div class="col-7">
                <form action="/post-user" method="post">
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="username" placeholder="Isi Username di Sini">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                      <div class="col-sm-10">
                        <input type="password" class="form-control" name="password" placeholder="Isi Password Anda di Sini">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Full Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="fullname" placeholder="Isi Nama Lengkap Anda di Sini">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Address</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="address" placeholder="Isi Alamat Lengkap Anda di Sini">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Age</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="age" placeholder="Isi Usia Anda di Sini">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="email" placeholder="Isi Alamat e-mail Anda di Sini">
                      </div>
                    </div>
                    <br>
                    <div class="form-group row">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                  </form>
              </div>
          </div>
      </div>
</body>
</html>