<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CH4/index.css">
  <title>Binar Challenge FW C4</title>
</head>
<body>
  <div class="container-fluid" style="padding-top: 2%;"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1 judul text-right">&#60;</div>
      <div class="col-sm-1" ><img src="/CH4/assets-2/logo 1.png"></div> 
      <div class="col-sm-10 kuning">ROCK PAPER SCISSORS</div> 
    </div>
  </div>
  <div class="container-fluid" style="padding-top: 2%;"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-right user">PLAYER 1</div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4 user">COM</div>
    </div>    
  </div>
  <div class="container-fluid" style="padding-top: 2%;"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-right"><button class="gbr1" id="p1" value="1"><img src="/CH4/assets-2/batu.png" width="135px"></button></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><button class="gambar4" id="c1" value="1"><img src="/CH4/assets-2/batu.png" width="135px"></button></div>
    </div>    
  </div>
  <div class="container-fluid" style="padding-top: 2%;"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-right"><button class="gbr2" id="p2" value="2"><img src="/CH4/assets-2/kertas.png" width="135px"></button></div>
      <div class="col-sm-4 vs text-center" id="result">VS</div>
      <div class="col-sm-4"><button class="gambar" id="c2" value="2"><img src="/CH4/assets-2/kertas.png" width="135px"></button></div>
    </div>    
  </div>
  <div class="container-fluid" style="padding-top: 2%;"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-right"><button class="gbr1" id="p3" value="3"><img src="/CH4/assets-2/gunting.png" width="135px"></button></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><button class="gambar" id="c3" value="3"><img src="/CH4/assets-2/gunting.png" width="135px"></button></div>
    </div>    
  </div>
  <div class="container">
    <div class="row" align="center">
      <div class="col img-responsive"><button class="gambar" id="tombol"><img src="/CH4/assets-2/refresh.png" width="55px"></button></div>
    </div>
  </div>
  <script src="/CH4/game.js"></script>
</body>
</html>