<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chapter 3 Challenge</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="/js/bootstrap.min.js" rel="stylesheet">
    <link rel="stylesheet" href="/CH3/index.css">
  </head>
  <body>
    <div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WORK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
                <li class="nav-item about">
                  <a class="nav-link" href="#">ABOUT ME</a>
                </li>
                <li class="nav-item sign-up">
                  <a class="nav-link" href="#">SIGN UP</a>
                </li>
                <li class="nav-item login">
                  <a class="nav-link" href="login">LOGIN</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        
        <div class="mainpage1 w">
            <div class="play text-center">PLAY TRADITIONAL GAME</div>
            <div class="ex text-center">Experience new traditional game play</div>
            <div class="btn-yellow text-center"><button type="button" class="btn btn-warning font btn-lg" onclick="window.location.href='/game'">PLAY NOW</button></div>
        </div>

        <div class="container-fluid mainpage2 w">
          <div class="row">
            <div class="col-12" id="id-game">
              What's so special?
            </div>
          </div>
          <div class="row">
            <div class="col-3" id="id-thegames">
              THE GAMES
            </div>
            <div class="col-9">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/CH3/assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <section id="mainpage3">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                What's so special?
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6" >
                <p style="font-size: 56px; font-weight: normal;">FEATURES</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 y"><img src="/CH3/asset/Ellipse 1.svg">&nbsp;&nbsp;&nbsp;TRADITIONAL GAMES</div>
            </div>
            <div class="row w" style="padding-left: 7%;">
              <div class="col-lg-9" style="font-size: 18px; font-style: normal; font-weight: normal;">If you miss your childhood, we provide many traditional games here</div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-8 y"><img src="/CH3/assets/Ellipse.svg">&nbsp;&nbsp;&nbsp;GAME SUIT</div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-8 y"><img src="/CH3/assets/Ellipse.svg">&nbsp;&nbsp;&nbsp;TBD</div>
            </div>
          </div>
        </section>
        <section id="mainpage4">
          <div class="container">
            <div class="row">
              <div class="col text-center" style="font-family: 'Arial'; font-size: 14x; color: white;">Can My Computer Run this game?</div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-lg-4" style="font-family: 'Arial'; font-size: 56px; color: white; letter-spacing: 3px; line-height: 64px;">
                SYSTEM REQUIREMENTS</div>
            </div>
            <br>
            <div class="container-kotak">
              <div class="row" style="padding-top: 2%;">
                <div class="col y" style="padding-left: 5%;">OS :</div>
                <div class="col y" style="padding-right: 5%;">PROCESSOR :</div>
              </div>
              <div class="row">
                <div class="col-lg-6" style="padding-left: 5%; font-size: 14px; font-style: normal; font-family: 'Open Sans'; color: white;">
                  Windows 7 64-bit only (No OSX support at this time)</div>
                <div class="col" style="padding-right: 4%; font-size: 14px; font-style: normal; font-family: 'Open Sans'; color: white;">
                  Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</div>
              </div>
              <div class="row" style="padding-top: 10%;">
                <div class="col y" style="padding-left: 5%;">MEMORY :</div>
                <div class="col y" style="padding-right: 5%;">STORAGE :</div>
              </div>
              <div class="row">
                <div class="col-lg-6" style="padding-left: 5%; font-size: 14px; font-style: normal; font-family: 'Open Sans'; color: white;">
                  4 GB RAM</div>
                <div class="col" style="padding-right: 4%; font-size: 14px; font-style: normal; font-family: 'Open Sans'; color: white;">
                  8 GB Available Space</div>
              </div>
              <div class="row" style="padding-top: 15%;">
                <div class="col y" style="padding-left: 5%;">GRAPHICS :</div>
              </div>
              <div class="row">
                <div class="col-lg-12" style="padding-left: 5%; font-size: 14px; font-style: normal; font-family: 'Open Sans'; color: white;">
                  NVIDIA GeForce GTX 660 2GB or </div>
              </div><div class="row">
                <div class="col-lg-12" style="padding-left: 5%; font-size: 14px; font-style: normal; font-family: 'Open Sans'; color: white;">
                  AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</div>
              </div>
            </div>
          </div>
        </section>
        <section id="mainpage5">
          <table width="80%" align="center">
            <tr>
              <td width="50%">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6 col-lg-10 w"  style="padding-top: 30%; font-size: 56px; letter-spacing: 3px;">TOP SCORES</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-lg-10 w" style="padding-top: 1px; font-size: 20px;">
                      This top score from various games provided on this platform</div>
                  </div>
                  <div class="row">
                    <div class="btn-yellow"><button type="button" class="btn btn-warning font btn-lg">see more</button></div>
                  </div>
                </div>
              </td>
              <td>
                <div class="container" style="padding-top: 10%;">
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                      <div class="card w-150" style="background:#1C1C1C;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-3"><img src="/CH3/assets/image 8.jpg" width="60px"></div>
                            <div class="col-8" style="line-height: 5px; padding-top: 1em;">
                              <p style="font-family: 'Arial'; color: #FFB548; font-size: 24px;">Evan Lathi</p>
                              <p style="font-family: 'Open Sans'; color: grey; font-size: 18px;">PC Gamer</p>
                            </div>
                            <div class="col-1"><img src="/CH3/assets/twitter.svg"></div>
                          </div>
                          <br>
                          <p class="card-text" style="font-family: 'Open Sans'; color: white; font-size: 18px;">“One of my gaming highlights of the year.”</p>
                          <p style="font-family: 'Open Sans'; color: grey; font-size: 14px;">June 18, 2021</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-10">
                      <div class="card w-150" style="background:#1C1C1C;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-3"><img src="/CH3/assets/image.jpg" width="60px"></div>
                            <div class="col-8" style="line-height: 5px; padding-top: 1em;">
                              <p style="font-family: 'Arial'; color: #FFB548; font-size: 24px;">Jada Griffin</p>
                              <p style="font-family: 'Open Sans'; color: grey; font-size: 18px;">Nerdreactor</p>
                            </div>
                            <div class="col-1"><img src="/CH3/assets/twitter.svg"></div>
                          </div>
                          <br>
                          <p class="card-text" style="font-family: 'Open Sans'; color: white; font-size: 18px;">
                            “The next big thing in the world of streaming and survival games.”</p>
                          <p style="font-family: 'Open Sans'; color: grey; font-size: 14px;">July 10, 2021</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2"></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-10">
                      <div class="card w-150" style="background:#1C1C1C;">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-3"><img src="/CH3/assets/image-2.jpg" width="60px"></div>
                            <div class="col-8" style="line-height: 5px; padding-top: 1em;">
                              <p style="font-family: 'Arial'; color: #FFB548; font-size: 24px;">Aaron Williams</p>
                              <p style="font-family: 'Open Sans'; color: grey; font-size: 18px;">Uproxx</p>
                            </div>
                            <div class="col-1"><img src="/CH3/assets/twitter.svg"></div>
                          </div>
                          <br>
                          <p class="card-text" style="font-family: 'Open Sans'; color: white; font-size: 18px;">
                            “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                          <p style="font-family: 'Open Sans'; color: grey; font-size: 14px;">December 24, 2018</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </section>
        <section id="mainpage6">
          <table width="100%">
            <tr>
              <td width="45%" align="right" valign="middle" style="padding-top:2%">
                <img src="/CH3/assets/image.png">
              </td>
              <td>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 w" style="font-size: 24px; letter-spacing: 2px; line-height: 32px;">Want to stay in touch?</div>
                    <div></div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-4" style="font-family: 'Arial'; font-size: 56px; color: white; letter-spacing: 3px; line-height: 64px;">
                      NEWSLETTER SUBSCRIBE</div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-10 w" style="font-size: 18px;">
                      In order to start receiving our news, all you have to do is enter your email address. 
                      Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col">
                      <form class="form-floating">
                        <input type="email" class="form-control" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                        <label for="floatingInputValue" class="news-label">Your Email Adress</label>
                      </form>
                    </div>
                    <div class="col">
                      <button type="button" class="btn btn-warning font btn-lg">Subscribe now</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
          <br>
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 w1" style="padding-left: 40em;">
                MAIN 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GAME FEATURES 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SYSTEM REQUIREMENT 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QUOTES
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/CH3/assets/facebook.svg" width="8px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/CH3/assets/twitter-2.svg" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/CH3/assets/Vector.svg" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/CH3/assets/twitch.svg" width="18px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </div>
          </div>
          <div class="container"><hr style="color: white;"></div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-sm-6" style="color:#1C1C1C; font-size:12px; "> © 2018 Your Games, Inc. All Rights Reserved</div>
              <div class="col-lg-6 col-sm-6 text-right w1" style="padding-left: 15em;">PRIVACY POLICY | TERMS OF SERVICES | CODE OF CONDUCT </div>
            </div>
          </div>
        </section>
      </div>
  </body>
</html>