<!DOCTYPE html>
<body>
    <h1>Login First</h1>
    <form action="/post-login" method="post">
        <label for="username">Username :</label>&nbsp;<input type="text" name="username" placeholder="Isi Username Anda"><br>
        <label for="password">Password :</label>&nbsp;<input type="password" name="password" placeholder="Isi Password Anda"><br>

        <button type="submit">Login </button>
    </form>
</body>