body {
   background-color: #9C835F !important;     
   font-family: 'Open Sans' !important;
}

.judul { color:#724C21; font-size: 50px; font-weight: bolder; }
.kuning { 
    color: #F9B23D;  
    position: absolute;
    font-family: 'Open Sans' !important;
    font-size: 36px;
    padding-left: 16%;
}
.user {
    font-family: 'Open Sans' !important;
    font-size: 36px;
    letter-spacing: 2px;
}
.vs {
    font-size: 82px;
    color :#BD0000;
}
.gambar {
  background: transparent;  
  border: 0;  
}
.gambar4 {
    background: transparent;  
    border: 0;  
  }

.button {
background: transparent;  
border: 0;  
}
.gbr1 { background: transparent; border: 0; }
.gbr2 { background: transparent; border: 0; }
.gbr3 { background: transparent; border: 0; }